fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
requests
numpy
pandas
xgboost
scikit-learn
tensorflow
torch
torchvision
whisper
coqui-tts
indic-trans-2-transformer
python-dotenv
aiohttp
geoalchemy2
